.vs/
.vscode/

bin/
obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

*.cache
*.log
*.tmp
*.temp

TestResults/
BenchmarkDotNet.Artifacts/

artifacts/
publish/

*.nupkg
*.snupkg

appsettings.Development.json
secrets.json
