.vs/
.vscode/

bin/
obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

*.cache
*.log
*.tmp
*.temp

TestResults/
BenchmarkDotNet.Artifacts/

artifacts/
publish/

*.nupkg
*.snupkg

appsettings.Development.json
secrets.json
ConsoleUI/obj/Debug/net9.0/ConsoleUI.AssemblyInfo.cs
ConsoleUI/obj/Debug/net9.0/ConsoleUI.AssemblyInfoInputs.cache
